.nav-head {
  font-size: 20px !important;
  
  font-weight: normal;
}
.purple-color {
  background-color: rgb(197, 106, 183) !important;
}
.navbar-custom {
  background-color: #ffffff;
}
.navbar-custom-footer {
  background-color: #ffffff;
}
.loader{
    margin-top: 200px;
}
